Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  google-*,
  -google-readability-todo,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: 'src|include'
FormatStyle: none
