Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  performance-*,
  readability-*,
  -readability-use-std-min-max,
  google-*,
  -google-readability-todo,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: 'src|include'
FormatStyle: none
